body{
background-color: black;
text-align: center;


}
.btn{

margin: 3px;


}
input[type="text"]{
height: 70px;
width: 250px;


}
.calculator{
border: 5px solid green;
width: 300px;
margin: 150px auto;

}